<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下载宿舍信息</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/bootstrap/bootstrap-overrides.css" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/bootstrap/bootstrap-responsive.css" />
    <link href="__PUBLIC__/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
<nav>当前位置：数据管理 >>查看考场数据</nav>
<div class="container">
    <br>
    <h3>以Excel格式 导出并下载数据库中所有 <mark><b>考场</b></mark>信息</h3>
        <a class="btn btn-success btn-lg" style="color: #fff;" href="{:U('downloadkaochang')}" >
            　 <i class="glyphicon glyphicon-download-alt icon-white"></i>
           立即下载　　
        </a>
    <br>
    <hr>
    <br>
    <h3>以Excel格式 导出并下载数据库中所有 <mark><b>新生宿舍</b></mark>信息</h3>
    <a class="btn btn-success btn-lg" style="color: #fff;" href="{:U('downloadsushe')}" >
        　 <i class="glyphicon glyphicon-download-alt icon-white"></i>
        立即下载　　
    </a>
</div>
</body>
</html>